
.KaderRond
{
 background:yellow;
}

.Koppie
{
 background:red; color:white; padding:5px;
}

/* ---------------------------------- bovenstaande is om oude opmaak te kunnen herkennen ---------------------------------- */

.Tezt	{ background:yellow; color:black; font-weight:bold; padding:5px; }

.header-style-1 .header-nav				{ background:#c6e3cd; color:black; }
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a { color:black; }
.main-header .top-search-holder .search-area .search-button { background-color:#f37f38; border: 1px solid #f37f38; }
.main-header
{
 background: -webkit-linear-gradient(#fef9f7,white,white,white);	/* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(#fef9f7,white,white,white);		/* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(#fef9f7,white,white,white);		/* For Firefox 3.6 to 15 */
 background: linear-gradient(#fef9f7,white,white,white);		/* Standard syntax */
 padding-top:0px; padding-bottom:0px;
}

.top-bar						{ background:#fef9f7; }
.top-bar .cnt-account ul > li a:hover, .top-bar .cnt-account ul > li a		{ color:#3570b4; text-decoration:none; }
.top-bar .cnt-account ul > li a:hover, .top-bar .cnt-account ul > li a:focus	{ color:#f37f38; text-decoration:underline; }
.top-bar .cnt-block a					{ color:#3570b4; }
.top-bar .cnt-block a:hover				{ color:#f37f38 !important; }


.top-cart-row .dropdown-cart .lnk-cart			{ color:#f37f38; border: 2px #f37f38 solid; }
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket { background: #f37f38; }
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket-item-count { background:gray; }


.ui-autocomplete		{ z-index: 9999 !important; }
.cart-item 			{ margin-bottom:3px; }
.cart-item .name 		{ font-weight:normal; }

.main-header .top-search-holder .search-area .search-field	{ width:90%; }
.main-header .top-search-holder .search-area .search-button	{ width:10%; padding-left:0px; padding-right:0px; }

.footer .footer-bottom					{ background:#c6e3cd; color:white; }
.footer-bottom .module-title				{ color:black; margin-top:20px; }
.footer .footer-bottom .module-body ul li a		{ color:black; }
.footer .footer-bottom .module-body ul li a:hover,
.footer .footer-bottom .module-body ul li a:focus	{ color:#f37f38; text-decoration:undderline; }
.footer .fa-inverse					{ background:#a8c1ae; }
.copyright-bar						{ background:#a8c1ae; }


.btn-primary														{ background:#f37f38; color:black; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary	{ color:white; background-color: #f37f38; }

.btn-default														{ color:black; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default	{ color:white; background-color: #f37f38; border-color: #f37f38; }

.btn-info														{ color: #ffffff; background-color: #3570B4; border-color: #3570b4; }
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info			{ color:white; background-color: #f37f38; border-color: #f37f38; }

.btn-success														{ color:black; background-color:#c6e3cd; border-color:#c6e3cd; font-weight:bold; }


.glyphicon-ok-sign		{ color:green; }
.glyphicon-exclamation-sign	{ color:orange; }
.glyphicon-minus-sign		{ color:red; }
.Groter125			{ font-size:125%; }
.Groter150			{ font-size:150%; }
.Groter175			{ font-size:175%; }
.Groter200			{ font-size:200%; }

.fa-truck			{ font-size:150%; line-height:10%; }

.tooltip-inner			{ background-color: silver !important; color:black; }
.tooltip.top .tooltip-arrow	{ border-top-color: silver; }
.tooltip.right .tooltip-arrow	{ border-right-color: silver; }
.tooltip.bottom .tooltip-arrow	{ border-bottom-color: silver; }
.tooltip.left .tooltip-arrow	{ border-left-color: silver; }

.breadcrumbPar				{ margin-bottom:-5px; margin-top:15px; font-size:70%; color:silver; }
.breadcrumbPar ul li:after		{ content: "/"; padding-left:12px; color:#666666; }
.breadcrumbPar ul li:last-child:after	{ content: ""; padding:0px; }
.breadcrumbPar a			{ color:silver; }
.breadcrumbPar a:hover			{ color:#f37f38; }


.btn-facebook			{ background:#3B5998; color:#fff; border:solid 1px #263961; border-radius:6px; }
.btn-facebook a			{ color:#fff; }
.btn-facebook:hover		{ background:#263961; color:#fff; }

.MandjeRegel			{ border-bottom:solid 1px silver; padding-top:10px; padding-bottom:10px; }
.MandjeKop			{ background:silver; color:white; padding-top:3px; padding-bottom:3px; font-weight:bold; }

.LinkTxt			{ color:#3570b4; text-decoration:none; }
.LinkTxt:hover			{ color:#f37f38; text-decoration:underline; }

.TablePloon td, .TablePloon th	{ border:solid 1px black; padding:5px; }
.TablePloon th			{ background:black; color:white; }


.SeoHome			{ font-size:11px !important; line-height:11px !important; margin:0px !important; color:gray; }
.SeoHome h1			{ font-size:11px !important; line-height:11px !important; margin:0px !important; margin-top:-10px !important; }
.SeoHome a			{ color:#E1E1E1; margin-right:15px; white-space:nowrap; }
.SeoHome a:hover		{ color:#f37f38; }


#HomeBannerCarousel		{ margin:0px; margin-bottom:15px; }
.home-banner			{ -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border:5px solid #3570b4; background:#3570b4; }
.home-banner .carousel-caption	{ text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
				  width:100%; padding:5px; position:relative; top:-140px; left:0px; margin-bottom:-140px; float:left; }
.home-banner .big-text,.home-banner .excerpt	{ color:#3570b4 !important; font-weight:bolder; }
.home-banner .big-text		{ height:50px; line-height:50px !important; font-size:50px !important; overflow:hidden; }
.home-banner .excerpt 		{ height:60px; line-height:30px !important; font-size:30px !important; overflow:hidden; }
.home-banner .excerpt i		{ font-size:25px !important; font-style:normal; }



.side-bar-banner b			{ display:block; background:#3570b4; text-align:center; color:white; font-size:150%; padding:4px; }
.side-bar-banner b:first-of-type	{ -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px;
					  border-top-left-radius: 10px; border-top-right-radius: 10px; }
.side-bar-banner b:nth-of-type(2)	{ -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px;
					  border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }
.side-bar-banner img			{ border-left: 3px solid #3570b4; border-right: 3px solid #3570b4; }
.side-bar-banner			{ margin-bottom:10px; }
.side-bar-banner .reviews-sb		{ border: 3px solid #3570b4; border-top:none; padding-top:10px; padding-bottom:10px;
					  -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px;
					  border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }
.side-bar-banner i			{ font-style:normal; font-weight:bolder;  position:relative; top:-80px; right:10px; float:right; }

/* ------------------------------------------------------------------------------------------------------------------------ */

.section-title		{ background:silver; color:white; }

.container h1, .container h2, .container h3, .container h4, .container h5, .container h6, .container h7
{
 margin:0px; font-family: 'Montserrat', sans-serif; font-weight:bolder;
}

.container h1	{ font-size:25px; }
.container h2	{ font-size:20px; }
.container h3	{ font-size:20px; }
.container h4	{ font-size:15px; }


#ContactDealers i	{ font-style:normal; }



.ZoekResultaten h4 > .btn-danger	{ margin-right:5px; }




.MyAccountMenu			{ margin:0px; margin-bottom:-5px; }
.MyAccountMenu .btn		{ margin-right:2px; margin-bottom:5px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; }
.MyAccountMenu .btn-info	{ cursor:default; }
.MyAccountMenu .btn-info:hover	{ background:#3570b4; cursor:default; }
.MyAccountKader			{ padding:10px; border:solid 2px #3570b4; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px; }






.MenuDividerLG			{ border-bottom:solid 1px black; margin-top:15px; margin-bottom:15px; }
.MenuDividerXS			{ margin-bottom:5px; }

.HuidigeKeuze			{ font-weight:bolder; background:#EFEFEF; }
.HuidigeKeuze .glyphicon-check	{ color:green; }


.PloonMenuGroep			{ display:block; color:#3570b4; }
.PloonMenuGroep:hover		{ background:#f37f38; color:white; }

.PloonMenuSubGroep		{ display:block; color:#3570b4; }
.PloonMenuSubGroep:hover	{ background:#f37f38; color:white; }

#MerkFilter .tag-list .item	{ padding:1px; }
#MerkFilter .tag-list .item img	{ width:60px; border:solid 1px silver; padding:2px; margin-bottom:5px; }
#MerkFilter .tag-list .item img:hover	{ border:solid 1px #f37f38; }
.MerkLogo			{ padding:6px; background:red; color:white; min-width:103px; }





.pagination-container .active	{ background:silver; }




.ProductDetails b i		{ font-weight:normal; }

.product-list-row
{
 padding-top:10px;
 padding-bottom:10px;
 border:solid 2px #3570b4;
 -webkit-border-radius:0px 0px 12px 12px; -moz-border-radius:0px 0px 12px 12px; border-radius:0px 0px 12px 12px;
}

.product-price h3
{
 font-weight:bolder; font-size:35px;
}

.product-info h3
{
 margin:0px; font-weight:bolder;
}

.product-info .text-right	{ line-height:200%; }
.alert-info img			{ padding-top:2px; padding-bottom:2px; }



.product-list h1, .product-list h2
{
 background:#3570b4; color:white;
 margin:0px;
 padding:8px;
 padding-bottom:5px;
 font-size:20px;
 text-align:center;
 -webkit-border-radius:12px 12px 0px 0px; -moz-border-radius:12px 12px 0px 0px; border-radius:12px 12px 0px 0px;
}




.product-list h1 a, .product-list h2 a			{ color:white; }
.product-list h1 a:hover, .product-list h2 a:hover	{ color:#f37f38; }



.OgonekeuzeMenu label		{ font-weight:normal; }
.OgonekeuzeMenu label:hover	{ cursor:pointer; color:#f37f38; }



.Alternatieven
{
 margin-left:5px; margin-top:5px;
 padding-top:12px;
 -webkit-border-radius:12px 12px 0px 0px; -moz-border-radius:12px 12px 0px 0px; border-radius:12px 12px 0px 0px;
 background: -webkit-linear-gradient(#F4F4F4,white,white);	/* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(#F4F4F4,white,white);		/* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(#F4F4F4,white,white);		/* For Firefox 3.6 to 15 */
 background: linear-gradient(#F4F4F4,white,white);		/* Standard syntax */
}




.Alternatieven h3 a		{ color:#3570b4; font-size:65%; }
.Alternatieven h3 a:hover	{ color:#f37f38; }


.TabjesVlak			{ border:solid 2px #3570b4; padding:12px; margin-bottom:20px; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px; }
.TabjesKnoppen			{ margin-top:30px; }
.TabjesKnoppen li		{ margin-right:5px; -webkit-border-radius:12px 12px 0px 0px; -moz-border-radius:12px 12px 0px 0px; border-radius:12px 12px 0px 0px; }
.TabjesKnoppen a		{ display:block; }
.TabjesKnoppen a:hover		{ color:white; }
.TabjesKnoppen .active a	{ color:white; cursor:default; }
.TabjesKnoppen .active		{ background:#3570b4; border-color:#3570b4; cursor:default; }

.TabjesVlakKop			{ font-size:12pt !important; margin:0px; font-family: 'Montserrat' !important; font-weight:bolder; }


.HighLighTkever a,
.HighLighTtype3 a,
.HighLighTkg a,
.HighLighTkubel a,
.HighLighTspijl a,
.HighLighTpano a,
.HighLighTt25 a			{ display:block; margin-bottom:2px; color:#3570b4; }

.HighLighTkever a:hover,
.HighLighTtype3 a:hover,
.HighLighTkg a:hover,
.HighLighTkubel a:hover,
.HighLighTspijl a:hover,
.HighLighTpano a:hover,
.HighLighTt25 a:hover		{ color:white; }

.HighLighTkever:hover,
.HighLighTtype3:hover,
.HighLighTkg:hover,
.HighLighTkubel:hover,
.HighLighTspijl:hover,
.HighLighTpano:hover,
.HighLighTt25:hover		{ background:#f37f38; }

#VoertuigFilter .glyphicon-unchecked	{ margin-right:5px; color:#5d8dc3; }
#VoertuigFilter .glyphicon-check	{ margin-right:5px; }

h4 .btn-xs			{ font-size:9px; padding:0px 4px; }

.yamm .yamm-content a						{ padding-left:3px !important;		color:#3570b4 !important; }
.yamm .yamm-content a:hover,	.yamm .yamm-content a:focus	{ background:#f37f38 !important; color:white !important; }
.categorie-results .yamm .dropdown-toggle			{ color:#3570b4 !important; }
.categorie-results .yamm .dropdown-toggle:hover			{ background:#f37f38 !important; color:white !important; }
.subcategorie-results .yamm .dropdown-toggle			{ color:#3570b4 !important; }
.subcategorie-results .yamm .dropdown-toggle:hover			{ background:#f37f38 !important; color:white !important; }

.Label		{ padding:0px; float:right; margin:0px; overflow:hidden; width:120px; height:110px; text-align:center; background:url(/layout/post-it.png); }
.Label b	{ font-family:comic sans ms, arial; color:black; font-size:18px; }
.Label-Budget	{ padding-top:35px; }
.Label-Sale	{ padding-top:45px; }
.Label-Premium	{ padding-top:35px; }


.ProductMerkKader
{
 background:white; padding:10px; padding-top:5px; width:120px; margin:auto; margin-bottom:10px;
 -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px;
}


.AdviesPrijs		{ font-size:13px; }
.AdviesPrijs nobr	{ font-size:75%; font-weight:normal; }

.ExcPrijs1		{ font-size:10px; padding-left:20px; }
.ExcPrijs2		{ font-size:10px; padding-left:20px; }

.VoertuigKeuzeMenu img
{
 border:none;
 -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px;
}
.VoertuigKeuzeMenu .zoom
{
 -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;
 -ms-transform: scale(0.9); -moz-transform: scale(0.9); -webkit-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9);
}
.VoertuigKeuzeMenu .zoom:hover, .VoertuigKeuzeMenu .zoom:active, .VoertuigKeuzeMenu .zoom:focus
{
 -ms-transform: scale(1.1); -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1);
 position:relative; z-index:100; top:-5px;
 border:solid 2px #f37f38;
 -webkit-border-radius:25px; -moz-border-radius:25px; border-radius:25px;
 box-shadow: 5px 5px 5px grey;
 background:white; padding:5px;
}
.VoertuigKeuzeMenu		{ height:92px; }

.ReclameBalk			{ padding-top:6px; }


.ProductVoertuigImages img	{ width:40px; height:20px; }


.Kerst			{ width:100%; margin:0px; padding:5px; padding-top:0px; padding-bottom:30px; background:#980100; background-image:url(/layout/kerst-bs.png); background-repeat:no-repeat;
			  color:white; text-align:center; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; border: 3px solid #3570b4;
			  -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px; }
.Kerst b		{ font-size:125%; }

.Pasen			{ background:#a0dffc; background-image:url(/layout/pasen-bs.png); background-position: left center; }
.Koningsdag		{ background:orange; background-image:url(/layout/koningsdag-bs.png); background-position: left center; }
.Voorjaar		{ background:yellow; background-image:url(/layout/voorjaar-bs.png); background-position: left center; }
.GeslotenNeutraal	{ background:#3570b4; background-image:url(/blanco.gif); }


.TerugNaarBoven			{ position:fixed; bottom:10px; right:10px; z-index:9999999; }

/* ------------------------------------------------------------------------------------------------------------------------ */

@media (min-width: 767px)					/* alles groter dan XS */
{
 .top-search-holder, .top-cart-row	{ margin-top:15px; }
 .cnt-block #uk	a			{ background:url(/vlag_uk.gif); background-repeat:no-repeat; padding-left:35px; margin:3px; }
 .cnt-block #nl a			{ background:url(/vlag_nl.gif); background-repeat:no-repeat; padding-left:35px; margin:3px; }
 .cnt-block #fr	a			{ background:url(/vlag_fr.gif); background-repeat:no-repeat; padding-left:35px; margin:3px; }
 .cnt-block #se	a			{ background:url(/vlag_se.gif); background-repeat:no-repeat; padding-left:35px; margin:3px; }
 .cnt-block #no	a			{ background:url(/vlag_no.gif); background-repeat:no-repeat; padding-left:35px; margin:3px; }
 .cnt-block #pt	a			{ background:url(/vlag_pt.gif); background-repeat:no-repeat; padding-left:35px; margin:3px; }
 .cnt-block #fi	a			{ background:url(/vlag_fi.gif); background-repeat:no-repeat; padding-left:35px; margin:3px; }
 .cnt-block #lv	a			{ background:url(/vlag_lv.gif); background-repeat:no-repeat; padding-left:35px; margin:3px; }
 .cnt-block #ru	a			{ background:url(/vlag_ru.gif); background-repeat:no-repeat; padding-left:35px; margin:3px; }
}

@media (min-width:767px) and (max-width:1200px)			/* SM en MD */
{
 .home-banner .carousel-caption		{ top:-125px; margin-bottom:-125px; }
 .home-banner .big-text			{ height:42px; line-height:42px !important; font-size:42px !important; }
 .home-banner .excerpt	 		{ height:50px; line-height:25px !important; font-size:25px !important; }
 .home-banner .excerpt i		{ font-size:20px !important; font-style:normal; }
 #ContactDealers i			{ color:silver; font-style:italic; }
 .AdviesPrijs				{ font-size:11px; }
 .ProductVoertuigImages img		{ width:50px; height:25px; }
}

@media (min-width:1200px)					/* LG */
{
 .ProductVoertuigImages img	{ width:68px; height:34px; }
}

@media (min-width:992px) and (max-width:1199px)			/* MD */
{
 .MyAccountMenu .btn			{ font-size:95% !important; padding:6px; }
 .VoertuigKeuzeMenu			{ height:72px; }
}

@media (min-width:768px) and (max-width:991px)			/* SM */
{
 .TabjesKnoppen a			{ padding:6px; }
 .TabjesKnoppen li			{ font-size:85% !important; padding:0px; }
 .MyAccountMenu .btn			{ font-size:75% !important; padding:3px; }
 .VoertuigKeuzeMenu			{ height:55px; }
 .ReclameBalk				{ font-size:80%; }
 .ExcPrijs1				{ padding-left:0px; }
 .ExcPrijs2				{ padding-left:0px; }
}

@media (max-width:766px)					/* XS */
{
 .top-search-holder, .top-cart-row	{ margin-top:0px; margin:0px; padding:0px; padding-left:10px; padding-right:10px; }
 .top-bar				{ font-size:70%; margin:0px; padding:0px; }
 .top-bar .cnt-account ul > li a	{ margin:0px; padding:0px; }
 .top-bar .cnt-account			{ margin:0px; padding:0px; }
 .top-bar .cnt-account ul		{ margin:0px; padding:0px; }
 .top-bar .cnt-account ul > li		{ margin:0px; padding:0px; padding-top:7px; padding-right:5px; border:none; }
 .main-header				{ margin:0px; padding:0px; }
 .main-header .logo-holder		{ margin:0px; padding:0px; }
 .main-header .logo-holder .logo	{ margin:0px; padding:0px; padding-top:20px; }
 .navbar-brand 				{ font-size:15px; }
 .top-cart-row .dropdown-cart		{ width:100%; padding-bottom:10px; }
 .top-cart-row .lnk-cart		{ width:100%; }
 .ZoekResultaten			{ padding:0px; margin:0px; margin-top:-20px; }
 .ZoekResultaten h4			{ font-size:12px; }
 .breadcrumbPar				{ margin-top:5px; margin-bottom:-10px; }
 .product-image				{ padding-bottom:10px; }
 .TabjesKnoppen ul			{ width:100%; border-top:solid 1px gray; }
 .TabjesKnoppen li			{ width:90%; margin-left:15px !important; margin-right:15px !important; font-size:90% !important; background:white !important; border:none; padding:0px; }
 .TabjesKnoppen li a			{ background:#cbc9c9; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; padding-top:5px; padding-bottom:5px; margin-bottom:1px; }
 .TabjesKnoppen li a:hover		{ background:#f37f38; }
 .TabjesKnoppen .active			{ background:white; }
 .TabjesKnoppen .active a		{ background:#3570b4; }
 .TabjesKnoppen .active a:hover		{ background:#3570b4; }
 .text-xs-center			{ text-align: center; }
 .MyAccountMenu				{ margin-bottom:1px; margin-left:15px; margin-right:15px; }
 .MyAccountMenu .btn			{ font-size:90% !important; padding:2px; width:100% !important; margin:0px !important;
					  border-top:solid 1px gray; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px; }
 .VoertuigKeuzeMenu			{ height:48px; }
 .ExcPrijs1				{ float:left; padding-left:0px; padding-right:20px; }
 .cnt-block .dropdown-menu		{ margin-left:-50px; }
}

@media (min-width:992px)					/* MD en LG */
{
 .voertuig-results			{ display:block; }
 .categorie-results			{ display:block; }
 .subcategorie-results			{ display:block; }
 .merk-results				{ display:block; }
 .Alternatieven				{ font-size:80%; }
}


@media (max-width:991px)					/* SM en XS */
{
 .main-header .top-search-holder .search-area .search-field	{ width:85%; }
 .main-header .top-search-holder .search-area .search-button	{ width:15%; }
 .side-menu				{ margin-bottom:5px; }
 .voertuig-results			{ display:none; }
 .categorie-results			{ display:none; }
 .subcategorie-results			{ display:none; }
 .merk-results				{ display:none; }
 .product-list .row			{ margin-left:1px; margin-right:1px; }
 .TabjesVlak				{ margin-left:12px; margin-right:12px; }
 .SeoHome, .SeoHome h1			{ font-size:8px !important; line-height:8px !important; }
 .alert					{ text-align:center; }
}


@media (max-width: 575px)					/* erg kleine schermen */
{
 .main-header .top-search-holder .search-area .search-field	{ width:75%; }
 .main-header .top-search-holder .search-area .search-button	{ width:25%; }
 .hidden-rs							{ display:none; }
 .action .btn							{ font-size:95%; line-height:100%; }
 .StroomVerdeler .btn						{ font-size:80%; }
}

/* ------------------------------------------------------------------------------------------------------------------------ */

@media print	/* bepaalde items bij het printen verbergen */
{
 a:after	{ content:''; }
 a[href]:after	{ content: none !important; }

 .alert										{ margin-top:5mm; }

 footer, .sidebar, .breadcrumbPar, .top-bar, .search-area, .top-cart-row	{ display:none; }

 .MyAccountMenu									{ display:none; }

 body:after, .category-product-inner:nth-child(odd):after			{ content:"Paruzzi - Classic Car Parts - www.paruzzi.com"; }

 .category-product-inner:nth-child(odd)						{ page-break-after:always; }


 /* zodat op een print SM opmaak wordt gebruikt */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .visible-xs {
    display: none !important;
  }
  .hidden-xs {
    display: block !important;
  }
  table.hidden-xs {
    display: table;
  }
  tr.hidden-xs {
    display: table-row !important;
  }
  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }
  .hidden-xs.hidden-print {
    display: none !important;
  }
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------ */
